*{
    background-color:#f1f1f1;
    color:#8b8b8b
}
.contain{
    background-color: white;
    margin: 5px;
    padding: 5px;
}
button{
    background-color: #337ab7;
    height: 30px;
    width:50px;
    border-radius: 5px;
    color: white;
}
input{
    width: 99%;
    height: 2em;
    margin: 5px;
    background-color: white;
    border:2px solid;
    border-color: #8b8b8b;
    border-radius: 5px;
}
label{
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    height: 200px;
    box-sizing: border-box;
    padding: 8px;

}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.gray {
    background-color: gray;
}